.page-item.active .page-link{
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.page-link:focus, .page-link:hover {
    color: #3d8b3d !important;
    background-color: #eceeef !important;
    border-color: #ddd !important;
}

a:focus, a:hover {
    color: #3d8b3d !important;
    text-decoration: underline !important;
}
a:hover {
    outline: 0 !important;
}

a{
    color: #3d8b3d !important;
}