  
  .tag-chip{
    border: 1px solid #ddd;
    color: #aaa;
    background: 0 0;
    text-decoration: none;
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
  }


  .tag-chip-spacing{
    font-size: .8rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    white-space: nowrap;
    margin-right: 3px;
    margin-bottom: .2rem;
  }
  ul li.tag-chip{
    display: inline-block!important;
  }

 .chip-color-change{
   color:#fff !important;
   background-color: #818a91 !important;
}
