  .headerView{
    height: 30%;
    color: #fff;
    background: #333;
    padding: 2rem;
    margin-bottom: 2rem;
    padding: 2rem 0;
    max-height: 200px;
  }

  .articleBody {
    padding-bottom: 4%;
    border-bottom-color: #e5e5e5;
    border-bottom-width: 0.01rem;
    border-bottom-style: outset;
    display: block;
  }


  .description{
    font-family: 'source serif pro',serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 2rem;
  }

.fa-trash{
    cursor: pointer;
  }
