@media (min-width: 544px){
  .navbar {
    border-radius: .25rem;
  }
}

.navbar-brand{
  font-family: titillium web,sans-serif;
  font-size: 1.5rem!important;
  padding-top: 0!important;
  margin-right: 2rem!important;
  color: #5cb85c!important;
  font-weight: 700;
}

.navbar-nav .nav-link {
  display: block;
  padding-top: .425rem;
  padding-bottom: .425rem;
}

li {
  text-align: -webkit-match-parent;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.link{
  color:rgba(124, 124, 124, 0.6);
  text-decoration: none;
  margin:1rem;
}
.link:hover{
  color:rgba(59, 58, 58, 0.6);
  text-decoration: none;
  margin:1rem;
}
.link:active{
  color:black;
  text-decoration: none;
  margin:1rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo{
  color: #5cb85c;
  text-decoration: none;
  vertical-align: middle;
  font-family: titillium web,sans-serif;
}

.text{
  vertical-align: middle;
  margin-left: 10px;
  font-size: .8rem;
  color: #bbb;
  font-weight: 300;
}

@media (min-width: 1400px){
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1300px;
  }
}

.container-fluid {
  width: auto;
}